<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milk.job.system.mapper.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.milk.job.model.pojo.Company">
    <!--@mbg.generated-->
    <!--@Table company-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="foreign_name" jdbcType="VARCHAR" property="foreignName" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="mission" jdbcType="VARCHAR" property="mission" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, foreign_name, city, logo, mission, description, `state`, create_time, 
    update_time, is_delete
  </sql>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into company
    (`name`, foreign_name, city, logo, mission, description, `state`, create_time, update_time, 
      is_delete)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.name,jdbcType=VARCHAR}, #{item.foreignName,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR}, 
        #{item.logo,jdbcType=VARCHAR}, #{item.mission,jdbcType=VARCHAR}, #{item.description,jdbcType=LONGVARCHAR}, 
        #{item.state,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, 
        #{item.isDelete,jdbcType=INTEGER})
    </foreach>
  </insert>

  <select id="pageSel" resultMap="BaseResultMap">

    select * from company
    <where>
        1=1
    <if test="companyVo.name != null and companyVo.name != ''">
        and name like concat('%',#{companyVo.name},'%')
    </if>
    <if test="companyVo.state !=null">
        and state = #{companyVo.state}
    </if>
    </where>
    and is_delete = 0
    order by create_time
  </select>
  <update id="batchChangeState">
  update company set state = 1 where id in
  <foreach collection="ids" item="id" open="(" separator="," close=")" >
  #{id}
</foreach>
and state =2 and is_delete = 0
</update>
<select id="getHotCompany" resultMap="BaseResultMap">

SELECT t1.logo,t1.id
FROM company AS t1 JOIN (SELECT ROUND(RAND() * ((SELECT MAX(id) FROM company)-(SELECT MIN(id) FROM company))+(SELECT MIN(id) FROM company)) AS id) AS t2
WHERE t1.id >= t2.id and t1.state = 1 and is_delete = 0
ORDER BY t1.id LIMIT 5;
</select>


</mapper>