<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milk.job.system.mapper.ExperienceMapper">
  <resultMap id="BaseResultMap" type="com.milk.job.model.pojo.Experience">
    <!--@mbg.generated-->
    <!--@Table experience-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resume_id" jdbcType="INTEGER" property="resumeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="start_time" jdbcType="DATE" property="startTime" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="performance" jdbcType="VARCHAR" property="performance" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, resume_id, `name`, `position`, start_time, end_time, performance
  </sql>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into experience
    (resume_id, `name`, `position`, start_time, end_time, performance)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.resumeId,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.position,jdbcType=VARCHAR}, 
        #{item.startTime,jdbcType=DATE}, #{item.endTime,jdbcType=DATE}, #{item.performance,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
</mapper>