<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milk.job.system.mapper.FavorMapper">
  <resultMap id="BaseResultMap" type="com.milk.job.model.pojo.Favor">
    <!--@mbg.generated-->
    <!--@Table favor-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="position_id" jdbcType="INTEGER" property="positionId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, position_id, create_time, update_time, is_delete
  </sql>

  <select id="getFavorByUserId" resultType="map">
  select f.id,f.create_time,c.id as companyId,c.logo,c.name ,p.id as positionId, p.title, p.requirement, p.quantity, p.city, p.salary_up, p.salary_down, p.release_date
    from favor f
    join position p on f.position_id = p.id
    join company c on p.company_id = c.id
    and f.user_id = #{id,jdbcType=INTEGER} and f.is_delete = 0 and c.state = 1 and c.is_delete = 0 and p.state = 1 and p.is_delete = 0
</select>
</mapper>