<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milk.job.system.mapper.FollowMapper">
  <resultMap id="BaseResultMap" type="com.milk.job.model.pojo.Follow">
    <!--@mbg.generated-->
    <!--@Table follow-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, company_id, create_time, update_time, is_delete
  </sql>
 <select id="getFollowByUserId" resultType="map">
  select f.id,f.create_time,c.id as companyId,c.logo,c.name,c.city,c.mission
    from follow f
    join company c on f.company_id = c.id
    and f.user_id = #{id,jdbcType=INTEGER} and f.is_delete = 0 and c.state = 1 and c.is_delete = 0
</select>
</mapper>