<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milk.job.system.mapper.InterviewMapper">
  <resultMap id="BaseResultMap" type="com.milk.job.model.pojo.Interview">
    <!--@mbg.generated-->
    <!--@Table interview-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resume_id" jdbcType="INTEGER" property="resumeId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="position_id" jdbcType="INTEGER" property="positionId" />
    <result column="hr_id" jdbcType="INTEGER" property="hrId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, resume_id, user_id, company_id, position_id, hr_id, `time`, address, comments, 
    `status`, create_time, update_time, is_delete, memo
  </sql>

  <select id="getPage" resultType="com.milk.job.model.dto.InterviewDto">
        select i.*,p.title,c.name as companyName,
                u.username as username ,u.tel as userTel,
                h.username as hrName ,h.tel as hrTel
                from interview i
                join company c on i.company_id = c.id
                join user u on i.user_id = u.id
                join user h on i.hr_id = h.id
                join position p on i.position_id = p.id
        <where>
        1=1
            <if test="interviewVo.state !=null and interviewVo.state != ''">
            and i.status = #{interviewVo.state,jdbcType=VARCHAR}
            </if>
            <if test="interviewVo.companyId != null">
            and i.company_id = #{interviewVo.companyId,jdbcType=INTEGER}
            </if>
            <if test="interviewVo.positionId != null">
            and i.position_id = #{interviewVo.positionId,jdbcType=INTEGER}
            </if>
            and i.is_delete = 0
        </where>
  </select>
  <select id="getInterviewByUserId" resultType="map">
  select i.id,i.create_time,i.update_time,i.time,i.memo,i.status as state,i.address,i.comments,c.id as companyId,c.name,p.id as positionId ,p.title,p.city
  from interview i
    join company c on i.company_id = c.id
    join position p on i.position_id = p.id
    <where>
    1=1
    <if test="state != null and state !=''">
    and i.status = #{state}
    </if>
    </where>
    and i.user_id = #{id,jdbcType=INTEGER} and i.is_delete = 0 and c.state = 1 and c.is_delete = 0 and p.state = 1 and p.is_delete = 0
</select>

  <select id="getInterviewByHrId" resultType="com.milk.job.model.dto.InterviewDto">
  select i.*,p.title,u.nickname ,u.email ,u.tel
                from interview i
                join user u on i.user_id = u.id
                join position p on i.position_id = p.id
            where i.is_delete = 0 and i.hr_id = #{inter.hrId} and status = #{inter.state,jdbcType=VARCHAR}
</select>
</mapper>