<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milk.job.system.mapper.LoginLogMapper">
  <resultMap id="BaseResultMap" type="com.milk.job.model.pojo.LoginLog">
    <!--@mbg.generated-->
    <!--@Table login_log-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="isp" jdbcType="VARCHAR" property="isp" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, ip, isp, country, area, region, city, district, `status`, msg, create_time, 
    update_time, is_delete
  </sql>
  <select id="getPrevLogin" resultMap="BaseResultMap">
  select * from login_log where username = #{name} and status = 1 order by create_time desc limit 1,1
</select>

<delete id="delLoginlog">

  update  login_log set is_delete =1 where id in
  <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id,jdbcType=INTEGER}
</foreach>
</delete>
</mapper>